.gigs {
    width: 100%;
    color: black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    min-height: 100vhś;
}

.gigs .pageName{
    width:90%;
    margin-top: 10px;
    font-size: 12px;
}

.gigs .filters {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 96%;
}

.gigs .filters .filters1,
.filters2,
.filters3,
.filters4 {
    cursor: pointer;
    width: 28%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 80px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    box-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.562),
        -0.5px -0.5px 1.5px rgba(0, 0, 0, 0.562);
}
.gigs .filters .count {
    font-size: 20px;
}

.gigs .filters .filter-name h6 {
    font-size: 10px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.521);
}
.updates{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.updates .update-content{
    width: 90%;
}
.updates .update-content .head{
    border-bottom: 2px solid rgba(128, 0, 128, 0.329);
    padding-bottom: 5px;
    width: fit-content;

}
.updates .update-content .update{
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.562),
        -0.5px -0.5px 1.5px rgba(0, 0, 0, 0.562);
    width: 40%;
    margin: 10px 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    display: inline-flex;
}
@media (max-width:850px) {
    .updates .update-content .update{
       width: 100%;
       margin: 0;
       margin-top: 20px;
    }
}

.updates .update-content .update h6{
    margin-left: 5px;
    margin-top: 5px;
    color: teal;
}
.updates .update-content .heading{
    padding-left: 10px;
}
.updates .update-content .update .updateuser{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 15px;
    margin-top: 10px;
}
.updates .update-content .update .updateuser .profile{
    background-color: rgb(0, 255, 170);
    width: 15px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    border: none;
}
.updates .update-content .update .msg-time{
    padding-left: 15px;
    display: flex;
    align-items:end;
    justify-content: space-between;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.541);
    line-height: 20px;
    margin-top: 10px;
    text-align: justify;
}
.updates .update-content .update .msg-time .time {
    color: red;
    padding: 0;
    height: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.updates .update-content .update .msg-time .msg{
    width: 84%;
}
.updates .update-content .update .msg-time .time h6{
    color: purple;
    font-size: 6px;
}