.gigs {
  width: 100%;
  color: black;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  min-height: 100vhś;
}
.gigs .filters{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 96%;
}
.gigs .filters .filters1 , .filters2 , .filters3 , .filters4{
  width: 28%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 80px;
  display: flex;
  align-items: start;
  justify-content:center;
  flex-direction: column;
  padding-left: 10px;
  box-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.562),
              -0.5px -0.5px 1.5px rgba(0, 0, 0, 0.562);
}
.gigs .filters .count{
  font-size: 20px;
}
.gigs .filters .filter-name h6{
  font-size: 10px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.521);
}
.gigs .serch-add{
  width: 90%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.gigs .serch-add .serch-box{
  width: 350px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.gigs .serch-add .serch-box input{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.507);
  outline: none;
  padding-left: 5px;
  letter-spacing: 1px;
  padding-right: 5px;
  box-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.562),
              -0.5px -0.5px 1.5px rgba(0, 0, 0, 0.562);
  border: none;
}
.gigs .serch-add .serch-box input::placeholder{
  color: rgba(0, 0, 0, 0.219);
}
.gigs .serch-add .add-btn{
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.219),
              -0.5px -0.5px 1.5px rgba(0, 0, 0, 0.219);
}
.gigs .table{
  width: 90%;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.562),
              -0.5px -0.5px 1.5px rgba(0, 0, 0, 0.562);
}
.gigs .table table{
  width: 100%;
  border-radius: 10px;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0px 10px;
  color: purple;
}
.gigs table thead{
  
}
.gigs table thead tr{
  border: 1px solid black;
}
.gigs table thead tr th{
  text-align: center;
}
.gigs  table tr th{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 3px;
  width: fit-content;
}
.gigs .table table tbody tr td {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 10px;
  height: 30px;
  padding-left: 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.233);
  text-align: center;
}
@media (max-width:750px) {
  .gigs .table table .views , .orders {
    font-size: 10px;
  }
  .gigs .table table .actions{
    padding-left:15px;
    font-size: 10px;
  }
  .gigs .table table .earnings{
    font-size: 10px;
  }
  .gigs .table table .tittle{
    font-size: 10px;
  }
  .gigs .serch-add .add-btn{
    width: 100px;
    font-size: 10px;
  }
  .gigs .serch-add .serch-box{
    width: 200px;
  }

  .gigs .table table tbody .status select option{
    font-size: 8px;
  }
  .gigs table tbody{
    font-size: 10px;
  }
  .gigs .table table tbody .status select{
    font-size: 10px;
  }
}
@media (max-width:300px) {
  .gigs .filters .filters1, .filters2 , .filters3, .filters4{
    width: 25%;
    
  }
}
.gigs .table table .tittle{
  width: 20%;
}
.gigs .table table .actions{
  padding-left: 0;

}
.gigs .table table tr th{
  width: 0;
  margin: 0;
  padding: 0;
}