.nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-top-right-radius: 10px;
}
.nav .nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
}
.nav .nav-bottom-1{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.nav .nav-bottom-1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 5px;
    margin-left: 3px;
}
.nav .nav-bottom-1 div div{
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    width: 60px;
    font-size: 12px;
}

.nav .nav-bottom-1 div div:hover{
    color: white;
    background-color: rgba(128, 0, 128, 0.575);
}
.nav-bottom-2{
    font-size: 10px;
    margin-left:10px;
    margin-bottom: 5px;
}
@media (min-width:500px) {
    .nav .nav-bottom-1{
        display: none;
    }
}
@media (max-width:500px) {
    .nav .nav-bottom-2{
        display: none;
    }
    .nav{
        position: sticky;
        top: 0;
    }
}
.profile{
    background-color: orangered;
    padding: 3px 10px;
    color: white;
    border-radius: 5px;
}